html, body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 1em 5em;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}
main h2 {
    background-color: #00a60e;
    padding: 1em;
    border-radius: 25px;
    font-size: 1.5em;
    color: white;
}

main p {
    display: inline-block;
    width: 50%;
    font-size: 1.5em;

}

main p:last-child {
    text-align: right;
    color: #2ecc71
}
